body {
    font-family: 'Source Sans Pro', sans-serif;
}

#open-button {
    background: #d53439 !important;
    font-weight: normal !important;
    margin-top: 50px;
    border: 1px solid #6a0b0d !important;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.calculator-box {
    width: 260px;
    border: 1px solid #484848;
    box-shadow: 2px 2px 6px #000000a3;
    border-radius: 3px;
    display: inline-block;
}

.calculator-box .display-box {
    padding: 15px;
    background-color: #42435e;
    font-weight: normal;
    font-size: 27px;
    text-align: right;
}

.calculator-box #result-line {
    font-size: 40px;
    font-weight: bold;
}

.operators {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    padding: 4px;
    font-size: 20px;
    font-weight: bold;
}

.operators .button {
    padding: 15px;
    border: 1px solid #484848;
    cursor: pointer;
}


.numbers-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    padding: 4px;
    font-size: 20px;
    font-weight: bold;
}

.numbers-box .button {
    padding: 15px;
    cursor: pointer;
    border: 1px solid #484848;
}

.numbers-box .button:hover,
.operators .button:hover {
    background: #454b5f !important;
}

#btn-calc {
    background: #465940;
}

#btn-clear {
    background: #733f3f;
}

.calculator-box #result-line.error {
    font-size: 17px;
    font-weight: bold;
    color: #f00;
}
